.care {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 2%;
}

.care-items {
  display: flex;
  flex-direction: column;
  flex: 1 1 33%;
  border: 1px solid var(--murrey);
  border-radius: 20px;
  margin-bottom: 5%;
  /* align-self: stretch; */
}

.item-img {
  border-radius: 20px 20px 0 0;
}

.care img {
  width: 300px;
  height: 200px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.arrow img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.item-text {
  padding: 5% 2%;
}

.center {
  text-align: center;
}

.item-text--displayed {
  display: contents;
}

li {
  margin-bottom: 1%;
}

@media (max-width: 768px) {
  .services {
    font-size: 0.75rem;
  }

  .care {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .care-items {
    flex: 0 1 100%;
    row-gap: 5%;
  }

  .item-img {
    border-radius: 20px 20px 0 0;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  .care {
    flex-wrap: wrap;
  }

  .care-items {
    flex: 0 1 45%;
  }
}

@media (min-width: 1601px) {
  .services {
    font-size: 1.2rem;
  }
}

@media (min-width: 1601px) {
  .price {
    font-size: 1.2rem;
  }
}
