.plasma-jett {
  margin-top: 3%;
  gap: 3%;
  align-items: center;
}

.plasma-jett__img,
.plasma-jett__text {
  flex: 1 1 0;
  max-width: 50%;
  box-sizing: border-box;
}

.plasma-jett img {
  width: 100%;
  height: auto;
}

.plasma-jett__text--question {
  margin-bottom: 2%;
  text-align: center;
  font-weight: 700;
  font-style: italic;
}

.plasma-jett__text--question,
.plasma-jett__img,
.plasma-jett__text,
.faq__item {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
}

.plasma-jett__text--question.animate,
.plasma-jett__img.animate,
.plasma-jett__text.animate,
.faq__item.animate {
  opacity: 1;
  transform: translateY(0);
}

.heading-box {
  background-color: var(--dark-cyan);
  color: var(--off-white);
  border-radius: 10px;
  text-align: center;
  padding: 0.75rem;
  max-width: 100%;
  width: auto;
  word-break: break-word;
  white-space: normal;
  margin-top: 5%;
  margin-bottom: 5%;
}

.heading-box h3 {
  margin: 0;
}

.faq {
  margin-bottom: 5%;
}

.faq__item {
  justify-content: space-between;
}

.faq__item h3 {
  text-align: left;
}

.arrow img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.arrow img:hover {
  transform: scale(1.2);
}

.arrow img:active {
  transform: scale(0.98);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(30px);
  transition:
    max-height 0.8s ease,
    opacity 0.8s ease,
    transform 0.8s ease;
}

.accordion-content--open {
  max-height: 100rem;
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .plasma-jett {
    flex-direction: column;
  }

  .plasma-jett__img,
  .plasma-jett__text {
    max-width: 100%;
  }

  .plasma-jett__text {
    padding-top: 5%;
  }
}

@media (min-width: 1601px) {
  .plasma-jett {
    font-size: 1.2rem;
  }

  .faq {
    font-size: 1.2rem;
  }
}
