.footer {
  background-color: var(--eerie-black);
  color: white;
  text-align: center;
  padding: 1% 0;
}

.footer p {
  font-size: 0.75rem;
  margin: 0;
  padding: 1% 0;
}

@media (max-width: 768px) {
  .footer {
    font-size: 0.5rem;
  }
}
