.footer {
  background-color: var(--eerie-black);
  color: var(--off-white);
  text-align: left;
  font-size: 0.75rem;
}

.footer p {
  margin: 0.25rem 0;
}

.footer a {
  color: var(--off-white);
  font-size: 0.75rem;
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  transition: transform 0.2s ease;
}

.footer a:hover,
.footer a:active,
.footer a:focus {
  color: var(--off-white);
  text-decoration: underline;
  transform: scale(1.05);
}

.footer h3 {
  color: var(--ash-gray);
  text-align: left;
  margin-top: 0;
}

.footer__info {
  display: flex;
  justify-content: baseline;
  padding: 2%;
  gap: 15%;
}

.footer__info--links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer__info--links ul,
.footer__info--links li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__copyright {
  text-align: center;
  color: var(--off-white);
  margin-top: 3%;
}

@media (max-width: 768px) {
  .footer h3 {
    margin: 2rem 0 0.5rem 0;
  }

  .footer__info {
    flex-direction: column;
  }
}

@media (min-width: 1601px) {
  .footer {
    font-size: 1rem;
  }

  .footer a {
    font-size: 1rem;
  }
}
