.footer {
  background-color: var(--eerie-black);
  color: var(--off-white);
  text-align: center;
  padding: 2% 0;
}

.footer a {
  color: var(--off-white);
}

.footer__links {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.footer__copyright {
  font-size: 0.75rem;
  color: var(--off-white);
  margin-top: 3%;
}

@media (max-width: 768px) {
  .footer {
    font-size: 0.5rem;
  }
}
