@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--seasalt);
  color: var(--eerie-black);
}

:root {
  /*Murrey shades*/
  --murrey: #89023eff;
  --quinacridone-magenta: #9d2c5eff;
  --china-rose: #b0567eff;
  --puce: #c4819fff;
  --pink-lavender: #d8abbfff;
  --mimi-pink: #ebd5df;

  /*Mint shades*/
  --dark-cyan: #418b85ff;
  --verdigris: #619e99ff;
  --cambridge-blue: #80b2ae;
  --ash-gray: #a0c5c2ff;
  --light-blue: #c0d8d6ff;
  --azure-web: #dfecebff;

  /*Seasalt shades*/
  --seasalt: #f7f9f9ff;
  --salt: #fafbfb;
  --off-white: #fcfdfdff;

  /* black */
  --eerie-black: #1b2021ff;

  /* breakpoints */
  --xs: 540px;
  --sm: 768px;
  --md: 1280px;
  --lg: 1600px;
  --xl: 2048px;

  /* container max-width */
  --br-xs: 480px;
  --br-sm: 615px;
  --br-md: 1024px;
  --br-lg: 1280px;
  --br-xl: 1400px;
  --br-xxl: 1600px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 0.5rem;
}

.container {
  margin: 0 auto;
}

.main-white {
  background-color: var(--salt);
}

.main-blue {
  background-color: rgba(223, 236, 235, 0.5);
}

.flex {
  display: flex;
}

.display-none {
  display: none;
}

a {
  color: var(--dark-cyan);
  font-weight: 500;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    max-width: var(--br-sm);
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  .container {
    width: 80%;
    max-width: var(--br-md);
  }
}

@media (min-width: 1281px) and (max-width: 1600px) {
  .container {
    width: 75%;
    max-width: var(--br-lg);
  }
}

@media (min-width: 1601px) and (max-width: 2048px) {
  .container {
    width: 70%;
    max-width: var(--br-xl);
  }
}

@media (min-width: 2049px) {
  .container {
    width: 65%;
    max-width: var(--br-xxl);
  }
}
