.main-white {
  background-color: var(--salt);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  max-height: 640px;
}

.text {
  text-align: left;
  padding: 2%;
  flex: 1 1 50%;
  text-align: center;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 50%;
  overflow: clip;
}

.photo img {
  margin: 0 auto;
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0.9;
}

.main-pink {
  background-color: rgba(235, 213, 223, 0.3); /* mimi-pink */
}

.news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  max-height: 640px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column-reverse;
  }

  .text {
    padding: 3%;
    font-size: 0.75rem;
  }

  .photo {
    flex: 1 1 auto;
  }

  .photo img {
    width: 80%;
    height: auto;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  .text h1 {
    font-size: 1.3rem;
  }
}

@media (min-width: 1600px) {
  .text {
    font-size: 1.3rem;
  }
}
