.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.text__item {
  border: 1px solid var(--murrey);
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  background-color: var(--blush);
  color: var(--gunmetal);
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
}
